:root{
  --background-color: #ebeef5;
  --primary-color: #2425f6;
  --aceent-color: #7596cb;
  --text-color: #1d1b55;
  --soft: #f1bfc6;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.App{
  background: var(--background-color);
  height: 100vh;
  margin-top: -1rem;
}

.component-container{
  height: 92vh;
  color: var(--text-color)
}

.badge{
  background: var(--soft);
  padding: 0 6px;
  border-radius: 2px;
}

.inline {
  display: flex;
}

.bold800{
  font-weight: 800;
}

.f3{
  font-size: 3rem;
}
.f2{
  font-size: 2rem;
}
.f2-4{
  font-size: 2.4rem;
}
.f1-8{
  font-size: 1.8rem;
}
.f1-2{
  font-size: 1.2rem;
}
.f0-8{
  font-size: 0.8rem;
}