:root{
  --background-color: #ebeef5;
  --primary-color: #2425f6;
  --aceent-color: #7596cb;
  --text-color: #1d1b55;
  --soft: #f1bfc6;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.App{
  background: var(--background-color);
  height: 100vh;
}

.component-container{
  height: 92vh;
  color: var(--text-color)
}

.badge{
  background: var(--soft);
  padding: 0 6px;
  border-radius: 2px;
}

.inline {
  display: flex;
}

.bold800{
  font-weight: 800;
}

.message{
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  width: fit-content;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.pcolor{
  color: var(--primary-color);
}

.f3{
  font-size: 3rem;
}
.f2{
  font-size: 2rem;
}
.f2-4{
  font-size: 2.4rem;
}
.f1-8{
  font-size: 1.8rem;
}
.f1-2{
  font-size: 1.2rem;
}
.f0-8{
  font-size: 0.8rem;
}